section.Services.Services__margin
	.conteiner_servisec

		.Services__description
			h2.title Services
			p.text.text__services Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna

		.accordion
			.accordion__label Statistics
				img.accordion__icon(src=way+"/Services/icon1.png", alt="")

			.accordion__content
				div.accordion__image
					img.accordion__img(src=way+"/Services/img.png", alt="")

				div.accordion__text
					p.text.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					p.text.accordion__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

		.accordion
			.accordion__label inbox
				img.accordion__icon(src=way+"/Services/icon2.png", alt="")

			.accordion__content
				div.accordion__image
					img.accordion__img(src=way+"/Services/img.png", alt="")
				
				div.accordion__block-text
					p.text.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					p.text.accordion__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

		.accordion
			.accordion__label team
				img.accordion__icon(src=way+"/Services/icon3.png", alt="")

			.accordion__content
				div.accordion__image
					img.accordion__img(src=way+"/Services/img.png", alt="")

				div.accordion__text
					p.text.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					p.text.accordion__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in



		.accordion
			.accordion__label settings
				img.accordion__icon(src=way+"/Services/icon4.png", alt="")

			.accordion__content
				div.accordion__image
					img.accordion__img(src=way+"/Services/img.png", alt="")

				div.accordion__text
					p.text.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					p.text.accordion__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

  
		.accordion
			.accordion__label feed
				img.accordion__icon(src=way+"/Services/icon5.png", alt="")

			.accordion__content
				div.accordion__image
					img.accordion__img(src=way+"/Services/img.png", alt="")

				div.accordion__text
					p.text.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					p.text.accordion__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

