section.Services(id="Service")

	.conteiner_servisec

		.description
			h2.title Services
			p.text.text__services Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna

		.accordion
			input.accoration__input(type="checkbox" id="leb1")
			label.accordion__label(for="leb1") Statistics
				img.accordion__icon(src=way+"/Services/icon1.png", alt="")

			.accordion__content
				div.accordion__image
					img.accordion__img(src=way+"/Services/img.png", alt="")

				div.accordion__text
					p.text.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					p.text.accordion__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

		.accordion
			input.accoration__input(type="checkbox" id="leb2")
			label.accordion__label(for="leb2") inbox
				img.accordion__icon(src=way+"/Services/icon2.png", alt="")

			.accordion__content
				div.accordion__image
					img.accordion__img(src=way+"/Services/img.png", alt="")
				
				div.accordion__text
					p.text.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					p.text.accordion__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

		.accordion
			input.accoration__input(type="checkbox" id="leb3")
			label.accordion__label(for="leb3") team
				img.accordion__icon(src=way+"/Services/icon3.png", alt="")

			.accordion__content
				div.accordion__image
					img.accordion__img(src=way+"/Services/img.png", alt="")

				div.accordion__text
					p.text.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					p.text.accordion__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

		.accordion
			input.accoration__input(type="checkbox" id="leb4")
			label.accordion__label(for="leb4") settings
				img.accordion__icon(src=way+"/Services/icon4.png", alt="")

			.accordion__content
				div.accordion__image
					img.accordion__img(src=way+"/Services/img.png", alt="")

				div.accordion__text
					p.text.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					p.text.accordion__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

		.accordioninput
			input.accoration__input(type="checkbox" id="leb5")
			label.accordion__label(for="leb5") feed
				img.accordion__icon(src=way+"/Services/icon5.png", alt="")

			.accordion__content
				div.accordion__image
					img.accordion__img(src=way+"/Services/img.png", alt="")

				div.accordion__text
					p.text.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					p.text.accordion__text quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

